.wrapper-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.wrapper-input-task {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 50%;
}

.wrapper-collapse {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.wrapper-input-subtask {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.ant-collapse-item {
  width: 100%;
}

.input-task {
  width: 50%;
}

.input-subtask {
  width: 80%;
}
